html {
    background-image: linear-gradient(#b286dd, #e5b3df);
    height: 100%;
    width: 100%;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Aclonica", sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0.5em 0 0.5 0;
}

#dragBar {
    background-color: #904899;
    height: 30px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: move;
    z-index: 999;
    border: 4px solid #26123a;
    position: absolute;
    top: -35px;
    cursor: grab;

}

#dragBar span {
    margin-left: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gameBox {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: 450px;
    background-color: azure;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 4px solid #26123a;
    box-shadow: 10px 10px rgb(83, 30, 88);
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#dialogue {
    display: none;
    z-index: 999;
}

#canvasBox {
    position: absolute;
    width: 600px;
    height: 450px;
    border: 4px solid #26123a;
    box-shadow: 10px 10px rgb(83, 30, 88);
}

.hide {
    display: none;
}

button {
    width: 200px;
    height: 30px;
    margin: 0.5em;
    border-radius: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #26123a;
    border: solid 2px #26123a;
    box-shadow: 3px 3px rgb(83, 30, 88);
    font-weight: 600;
    z-index: 999;
}

button:hover {
    background-color: #904899;
    color: white;
}