html {
    background-image: linear-gradient(#b286dd, #e5b3df);
    height: 100%;
    width: 100%;
}

#title {

}

#dialogue {
    display: none;
}

#canvasBox {
    display: flex;
    justify-content: center;
    margin: auto;
}

.hide {
    display: none;
}